name: main
on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  build:
    name: build
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      # Cloud Functions does not support the latest Go runtimes. Currently, it only supports up to Go 1.16.
      # Therefore, this test confirms that the source is able to build with the supported Go version.
      matrix:
        go-version: ["1.16", "1.19"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - run: make setup
      - run: make check-generate
      - run: make test
      - run: make build
