name: main
on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  build:
    name: build
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      # Cloud Functions only supports a limited set of Go runtime versions.
      # This set may not contain the Go version we use in our development environment.
      # Therefore, we should run tests with both the Cloud Functions Go runtime version and our development environment Go version.
      # See `--runtime` options for `gcloud functions deploy` in `Makefile.*` to find the Cloud Functions runtime Go version we use.
      matrix:
        go-version: ["1.21"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - run: make setup
      - run: make check-generate
      - run: make test
      - run: make build
