name: ManualImageUpdate
on:
  workflow_dispatch:
jobs:
  update-vmx-enabled-image:
    name: update vmx enabled image
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.NECO_DEV_PROJECT_ID }}
          service_account_key: ${{ secrets.NECO_DEV_SERVICE_ACCOUNT }}
          export_default_credentials: true
      - name: Build necogcp command
        run: make setup build-necogcp
      - name: Update vmx enabled image
        run: |
          /home/runner/work/neco-gcp/neco-gcp/build/necogcp neco-test list-instances -p neco-dev
          echo "/home/runner/work/neco-gcp/neco-gcp/build/necogcp neco-test create-image --project-id neco-dev"
