name: Update Google Cloud Functions (daily)
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 15 * * *'

jobs:
  update-neco-dev:
    name: Update neco-dev project
    runs-on: ubuntu-20.04
    env:
      GCP_PROJECT: neco-dev
    steps:
      - uses: actions/checkout@v2
      - uses: google-github-actions/auth@v0.7.0
        with:
          credentials_json: ${{ secrets.NECO_DEV_SERVICE_ACCOUNT }}
      - uses: google-github-actions/setup-gcloud@v0.6.0

      - run: make -f Makefile.dctest delete-function
        continue-on-error: true
      - run: make -f Makefile.dctest deploy-function

      - run: make -f Makefile.slack delete-function
        continue-on-error: true
      - run: make -f Makefile.slack deploy-function

  update-neco-test:
    name: Update neco-test project
    runs-on: ubuntu-20.04
    env:
      GCP_PROJECT: neco-test
    steps:
      - uses: actions/checkout@v2
      - uses: google-github-actions/auth@v0.7.0
        with:
          credentials_json: ${{ secrets.NECO_TEST_SERVICE_ACCOUNT }}
      - uses: google-github-actions/setup-gcloud@v0.6.0

      - run: make -f Makefile.instancedel delete-extend-function
        continue-on-error: true
      - run: make -f Makefile.instancedel delete-shutdown-function
        continue-on-error: true
      - run: make -f Makefile.instancedel deploy-extend-function
      - run: make -f Makefile.instancedel deploy-shutdown-function
