name: WeeklyImageUpdate
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 15 * * 0'
jobs:
  update-vmx-enabled-image:
    name: update vmx enabled image
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Build necogcp command
        run: make setup build-necogcp
      - name: Set up Cloud SDK for neco-dev
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.NECO_DEV_PROJECT_ID }}
          service_account_key: ${{ secrets.NECO_DEV_SERVICE_ACCOUNT }}
          export_default_credentials: true
      - name: Update vmx enabled image on neco-dev
        run: /home/runner/work/neco-gcp/neco-gcp/build/necogcp neco-test create-image --project-id neco-dev
      - name: Set up Cloud SDK for neco-test
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.NECO_TEST_PROJECT_ID }}
          service_account_key: ${{ secrets.NECO_TEST_SERVICE_ACCOUNT }}
          export_default_credentials: true
      - name: Update vmx enabled image on neco-test
        run: /home/runner/work/neco-gcp/neco-gcp/build/necogcp neco-test create-image
